# The NYC Crime Rate Analysis Project

## The Aim of Project : this project aims basically to study the complaints data , and try to provide a depped analysis about certain type of questions and situation related to the type of complaints and the different type of demographic indicators .

## The Aim Of The Project

### This projects aims to use some tools in variuos python libraraies in order to analze a datset and get some usefull information from .

### specifically to this projects there are some questions im looking forawrd to answer 
### and they are as the following :

### 1- How does thsi compains distribute with different type of genders ? 
###  2- does a certain group of people ( age group - ethnicity ... etc ) face more type of crimes in general ? or within certain area ?
### 3- Is it safe to stay/live in a certain area in NYC ?
### 4- What type of crimes you should expect to face in general in NYC ?

#  The Data Set : ##

### The data set in named "NYPD Complaint Data Historic" which is provided by NYC open data website acessed through the link : https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i

### This dataset includes all valid felony, misdemeanor, and violation crimes reported to the New York City Police Department (NYPD) from 2006 to the end of last year (2019). 

### It consists of one raw data file with the size of 2.75 GB .


## 1. Reading The File
**Reading the file and checking the exisitance of columns with correct encoding**

In [2]:
# reading the csv file and assigning it to a data frame , plus calculationg the time to read the file in seconds

import pandas as pd
import time

start = time.time()
df = pd.read_csv('NYPD_Complaint_Data_Historic.csv')
end = time.time()
print("Read csv without chunks: ",(end-start),"sec")

/var/folders/_6/b7kzqpgn6t9c5j4mnl7p8nn40000gn/T/ipykernel_86293/1271341911.py:7: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('NYPD_Complaint_Data_Historic.csv')

Read csv without chunks:  34.99899101257324 sec

## 2. Describing & Cleaning the dataset

### 2.1 Getting general discription of data

In [3]:
# getting to know the dataset by describing its data
df.describe()

,CMPLNT_NUM,ADDR_PCT_CD,KY_CD,PD_CD,JURISDICTION_CODE,TRANSIT_DISTRICT,Latitude,Longitude
count,7.825499e+06,7.823333e+06,7.825499e+06,7.818738e+06,7.818738e+06,172475.000000,7.808160e+06,7.808160e+06
mean,5.500321e+08,6.334306e+01,2.968756e+02,4.126822e+02,7.088369e-01,13.605833,4.073517e+01,-7.392551e+01
std,2.597822e+08,3.450825e+01,1.511127e+02,2.176568e+02,6.648380e+00,12.475836,8.609054e-02,7.825796e-02
min,1.000001e+08,1.000000e+00,1.010000e+02,1.000000e+02,0.000000e+00,1.000000,4.011271e+01,-7.751921e+01
25%,3.250977e+08,4.000000e+01,1.170000e+02,2.540000e+02,0.000000e+00,3.000000,4.067280e+01,-7.397287e+01
50%,5.500406e+08,6.300000e+01,3.410000e+02,3.800000e+02,0.000000e+00,11.000000,4.073236e+01,-7.392721e+01
75%,7.750019e+08,9.400000e+01,3.510000e+02,6.370000e+02,0.000000e+00,30.000000,4.081215e+01,-7.388291e+01
max,9.999999e+08,1.230000e+02,8.810000e+02,9.750000e+02,9.700000e+01,34.000000,5.965727e+01,-7.368479e+01

### 2.2 Finding the missing values details

In [4]:
# showing a list of the number of null values in the dataset with the percentage to the total number of records

percent_missing = df.isnull().sum() * 100 / len(df)
null_count = df.isna().sum()
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'null_count':null_count,
                                 'percent_missing': percent_missing})

missing_value_df.sort_values('percent_missing', inplace=True)

missing_value_df

                         column_name  null_count  percent_missing
CMPLNT_NUM                CMPLNT_NUM           0         0.000000
JURIS_DESC                JURIS_DESC           0         0.000000
LAW_CAT_CD                LAW_CAT_CD           0         0.000000
KY_CD                          KY_CD           0         0.000000
RPT_DT                        RPT_DT           0         0.000000
CMPLNT_FR_TM            CMPLNT_FR_TM          48         0.000613
CRM_ATPT_CPTD_CD    CRM_ATPT_CPTD_CD         168         0.002147
VIC_SEX                      VIC_SEX         308         0.003936
VIC_RACE                    VIC_RACE         390         0.004984
CMPLNT_FR_DT            CMPLNT_FR_DT         655         0.008370
ADDR_PCT_CD              ADDR_PCT_CD        2166         0.027679
JURISDICTION_CODE  JURISDICTION_CODE        6761         0.086397
PD_CD                          PD_CD        6761         0.086397
PD_DESC                      PD_DESC        6761         0.086397
PATROL_BORO              PATROL_BORO        7218         0.092237
BORO_NM                      BORO_NM       12480         0.159479
Lat_Lon                      Lat_Lon       17339         0.221571
Longitude                  Longitude       17339         0.221571
Latitude                    Latitude       17339         0.221571
Y_COORD_CD                Y_COORD_CD       17339         0.221571
X_COORD_CD                X_COORD_CD       17339         0.221571
OFNS_DESC                  OFNS_DESC       18832         0.240649
PREM_TYP_DESC          PREM_TYP_DESC       42015         0.536899
LOC_OF_OCCUR_DESC  LOC_OF_OCCUR_DESC     1618063        20.676803
VIC_AGE_GROUP          VIC_AGE_GROUP     1638445        20.937259
CMPLNT_TO_TM            CMPLNT_TO_TM     1739479        22.228346
CMPLNT_TO_DT            CMPLNT_TO_DT     1744294        22.289876
SUSP_RACE                  SUSP_RACE     3514828        44.915065
SUSP_SEX                    SUSP_SEX     3648142        46.618650
SUSP_AGE_GROUP        SUSP_AGE_GROUP     4883369        62.403292
HOUSING_PSA              HOUSING_PSA     7226206        92.341792
HADEVELOPT                HADEVELOPT     7477110        95.548028
TRANSIT_DISTRICT    TRANSIT_DISTRICT     7653024        97.795987
STATION_NAME            STATION_NAME     7653024        97.795987
PARKS_NM                    PARKS_NM     7794644        99.605712

### 2.3 Getting dataset shape and dimentions

In [12]:
print('The data set shape is :' , df.shape)
print('The dataset dimention is :', df.ndim)

The data set shape is : (7825499, 35)
The dataset dimention is : 2

### 2.4 Preview the dataset

In [32]:
# show the first 10 rows of data
print(df.head(10))

# print the data types of all coumns in dataset
print(" --------------------------------------------------- \n" )
print("The data types are :\n \n",df.dtypes)

   CMPLNT_NUM CMPLNT_FR_DT CMPLNT_FR_TM CMPLNT_TO_DT CMPLNT_TO_TM  \
0   394506329   12/31/2019     17:30:00          NaN          NaN
1   968873685   12/29/2019     16:31:00   12/29/2019     16:54:00
2   509837549   12/15/2019     18:45:00          NaN          NaN
3   352454313   12/28/2019     01:00:00          NaN          NaN
4   248803469   09/05/2008     21:41:00          NaN          NaN
5   293718737   12/27/2019     22:00:00          NaN          NaN
6   552685226   12/27/2019     20:10:00   12/27/2019     20:15:00
7   134037758   12/26/2019     20:00:00   12/27/2019     07:15:00
8   855385879   12/26/2019     19:57:00          NaN          NaN
9   241602326   12/25/2019     23:00:00   12/26/2019     14:25:00

   ADDR_PCT_CD      RPT_DT  KY_CD                        OFNS_DESC  PD_CD  \
0         32.0  12/31/2019    118                DANGEROUS WEAPONS  793.0
1         47.0  12/29/2019    113                          FORGERY  729.0
2        109.0  12/29/2019    578                    HARRASSMENT 2  638.0
3         47.0  12/28/2019    126          MISCELLANEOUS PENAL LAW  117.0
4          NaN  09/05/2008    101  MURDER & NON-NEGL. MANSLAUGHTER    NaN
5          9.0  12/27/2019    107                         BURGLARY  223.0
6         79.0  12/27/2019    117                  DANGEROUS DRUGS  521.0
7        101.0  12/27/2019    341                    PETIT LARCENY  321.0
8         44.0  12/26/2019    361    OFF. AGNST PUB ORD SENSBLTY &  639.0
9         20.0  12/26/2019    341                    PETIT LARCENY  321.0

   ... SUSP_SEX TRANSIT_DISTRICT   Latitude  Longitude  \
0  ...      NaN              NaN  40.820927 -73.943324
1  ...      NaN              NaN  40.885701 -73.861640
2  ...        M              NaN  40.742281 -73.819824
3  ...        M              NaN  40.875311 -73.847545
4  ...      NaN              NaN  40.698827 -73.938819
5  ...      NaN              NaN  40.720759 -73.980466
6  ...      NaN              NaN  40.695958 -73.937632
7  ...      NaN              NaN  40.611570 -73.747365
8  ...        F              NaN  40.840234 -73.917684
9  ...      NaN              NaN  40.772875 -73.989542

                                    Lat_Lon               PATROL_BORO  \
0   (40.82092679700002, -73.94332421899996)     PATROL BORO MAN NORTH
1  (40.885701406000074, -73.86164032499995)         PATROL BORO BRONX
2         (40.74228115600005, -73.81982408)  PATROL BORO QUEENS NORTH
3   (40.87531145100007, -73.84754521099995)         PATROL BORO BRONX
4             (40.698827283, -73.938819047)                       NaN
5   (40.72075882100006, -73.98046642299995)     PATROL BORO MAN SOUTH
6  (40.695958362000056, -73.93763162199998)   PATROL BORO BKLYN NORTH
7   (40.61157006600007, -73.74736517199995)  PATROL BORO QUEENS SOUTH
8   (40.84023413800003, -73.91768411399994)         PATROL BORO BRONX
9   (40.77287456000005, -73.98954212299998)     PATROL BORO MAN NORTH

  STATION_NAME  VIC_AGE_GROUP        VIC_RACE VIC_SEX
0          NaN        UNKNOWN         UNKNOWN       E
1          NaN        UNKNOWN         UNKNOWN       E
2          NaN          25-44  WHITE HISPANIC       F
3          NaN        UNKNOWN         UNKNOWN       E
4          NaN          25-44           BLACK       M
5          NaN        UNKNOWN         UNKNOWN       M
6          NaN        UNKNOWN         UNKNOWN       E
7          NaN          25-44  WHITE HISPANIC       F
8          NaN          18-24           BLACK       F
9          NaN          45-64           BLACK       M

[10 rows x 35 columns]
 ---------------------------------------------------

The data types are :

 CMPLNT_NUM             int64
CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
CMPLNT_TO_DT          object
CMPLNT_TO_TM          object
ADDR_PCT_CD          float64
RPT_DT                object
KY_CD                  int64
OFNS_DESC             object
PD_CD                float64
PD_DESC               object
CRM_ATPT_CPTD_CD      object
LAW_CAT_CD            object
BORO_NM               object
LOC_OF_OCCUR_DESC     object
PREM_TYP_DESC         object
JURIS_DESC            object
JURISDICTION_CODE    float64
PARKS_NM              object
HADEVELOPT            object
HOUSING_PSA           object
X_COORD_CD            object
Y_COORD_CD            object
SUSP_AGE_GROUP        object
SUSP_RACE             object
SUSP_SEX              object
TRANSIT_DISTRICT     float64
Latitude             float64
Longitude            float64
Lat_Lon               object
PATROL_BORO           object
STATION_NAME          object
VIC_AGE_GROUP         object
VIC_RACE              object
VIC_SEX               object
dtype: object

### 2.5 Deleting columns with null percentage more than 90%

In [41]:
# Delete multiple columns from the dataframe


df = df.drop(["HOUSING_PSA", "HADEVELOPT", "TRANSIT_DISTRICT","STATION_NAME","PARKS_NM"], axis=1)

In [45]:
df.shape

(7825499, 30)

## 3. Analyzing the Dataset

In [129]:
#print(df["VIC_AGE_GROUP"].describe())


age_group_list = df["VIC_AGE_GROUP"].dropna()

# drop "unknown value from age group"
age_group_list.drop(df[df['VIC_AGE_GROUP'] == 'UNKNOWN'].index, inplace = True)

# drop all - 'minus' values from the age group
age_groups = list(filter(lambda x: not x.startswith('-') , age_group_list.unique()))

# add the dates with range or + < > indicators to a list
age_group_range = [x for x in age_groups if "-" in x or "+" in x or "<" in x or ">" in x]

# check if individual dates are valid
age_group_int = [int(x) for x in age_groups if x not in age_group_range and int(x)>0 and int(x)<130]

count_valid = df[df["VIC_AGE_GROUP"].isin(age_group_range)].shape[0]
valid_percentage = df[df["VIC_AGE_GROUP"].isin(age_group_range)].shape[0]/df["VIC_AGE_GROUP"].shape[0]

print ("The Age Group Summary \n \n")
print ("The Age Group unique Values are : \n" )
print(age_group_df.unique())
print('\n' )
print ("The Age Group Range are : ",age_group_range,"\n")

print ("The Ages >0 and < 130 are : ",age_group_int,"\n")
print("The Total number of records with valid age groups : " ,count_valid ," which is ", 
      round(valid_percentage *100,3),"% of total data")

# creates a new df with only vlid agr rage records

valid_age_df = df[df["VIC_AGE_GROUP"].isin(age_group_range)]



#age_groups = [int(i) for i in age_groups]


#age_group_int = [int(i) for i in age_groups]

#print(age_groups)


 




#print(age_group_df.describe())

#age_group_df.unique()

#int(df[df["VIC_AGE_GROUP"]])

The Age Group Summary


The Age Group unique Values are :

['25-44' '18-24' '45-64' '<18' '65+' '-56' '-954' '943' '-967' '1018'
 '929' '-948' '-961' '-952' '936' '-71' '-943' '956' '-50' '941' '1013'
 '-942' '-39' '-69' '-67' '937' '-946' '-974' '960' '951' '927' '-2' '938'
 '-934' '-978' '-970' '-4' '-62' '-3' '-1' '-960' '-921' '-61' '-48' '970'
 '963' '945' '-935' '-51' '-975' '-980' '-72' '946' '-959' '-966' '-958'
 '1014' '-931' '-972' '949' '-973' '-965' '-60' '1016' '932' '-968' '-31'
 '950' '-963' '-938' '930' '-962' '-7' '-73' '-937' '-53' '-45' '-65'
 '-936' '-81' '-40' '-37' '-902' '-63' '-55' '-70' '-981' '928' '-964'
 '-950' '-884' '-971' '-945' '940' '-36' '-52' '-32' '922' '914' '947'
 '-78' '999' '810' '980' '-957' '942' '-923' '711' '924' '-982' '933'
 '309' '152' '962' '-969' '-976' '151' '1004' '808' '738' '887' '912'
 '939' '709' '944' '812' '948' '-49' '-85' '160' '343' '-75' '-940' '214'
 '934' '953' '158' '838' '-915' '909' '809' '931' '311' '623' '908' '-955'
 '-956' '185' '-947' '923' '920' '508' '955' '895' '172' '811' '340' '925'
 '964' '959' '-953' '707' '952' '935' '961' '-932' '954' '918' '-984'
 '917' '913' '260' '-47' '342' '509' '981' '324' '507' '926' '957' '-939'
 '983' '188' '911' '958' '359' '-983' '979' '806' '910' '154' '174' '-985'
 '921' '-929' '334' '901' '1012' '977' '-76' '965' '-43' '1017' '972'
 '-59' '-5']


The Age Group Range are :  ['25-44', '18-24', '45-64', '<18', '65+']

The Ages >0 and < 130 are :  []

The Total number of records with valid age groups :  5383587  which is  68.795 % of total data

In [162]:
valid_age_df

#pd.set_option('display.max_rows', None)

#with pd.option_context('display.max_rows', None,):

  #  print(valid_age_df.groupby(['VIC_AGE_GROUP','SUSP_SEX','SUSP_RACE']).count())
    
valid_age_df.groupby(['VIC_AGE_GROUP','VIC_RACE']).count()
                      #'VIC_RACE','OFNS_DESC','BORO_NM']).count()

                                              CMPLNT_NUM  CMPLNT_FR_DT  \
VIC_AGE_GROUP VIC_RACE
18-24         AMERICAN INDIAN/ALASKAN NATIVE        4493          4493
              ASIAN / PACIFIC ISLANDER             60876         60868
              BLACK                               286520        286504
              BLACK HISPANIC                       45699         45691
              OTHER                                    6             6
              UNKNOWN                              30310         30308
              WHITE                               147236        147222
              WHITE HISPANIC                      214173        214151
25-44         AMERICAN INDIAN/ALASKAN NATIVE       17393         17391
              ASIAN / PACIFIC ISLANDER            232896        232871
              BLACK                               872584        872500
              BLACK HISPANIC                      128087        128081
              OTHER                                    8             8
              UNKNOWN                             109316        109305
              WHITE                               615793        615708
              WHITE HISPANIC                      624712        624655
45-64         AMERICAN INDIAN/ALASKAN NATIVE        9564          9564
              ASIAN / PACIFIC ISLANDER            123289        123271
              BLACK                               467118        467074
              BLACK HISPANIC                       57207         57202
              OTHER                                    9             9
              UNKNOWN                              57889         57882
              WHITE                               382527        382486
              WHITE HISPANIC                      260930        260912
65+           AMERICAN INDIAN/ALASKAN NATIVE        1179          1179
              ASIAN / PACIFIC ISLANDER             18597         18596
              BLACK                                80445         80438
              BLACK HISPANIC                        8541          8540
              UNKNOWN                              10963         10963
              WHITE                               118848        118834
              WHITE HISPANIC                       42620         42611
<18           AMERICAN INDIAN/ALASKAN NATIVE        1509          1509
              ASIAN / PACIFIC ISLANDER             19083         19081
              BLACK                               144504        144489
              BLACK HISPANIC                       25948         25946
              OTHER                                    8             8
              UNKNOWN                              14524         14523
              WHITE                                39341         39337
              WHITE HISPANIC                      108761        108749

                                              CMPLNT_FR_TM  CMPLNT_TO_DT  \
VIC_AGE_GROUP VIC_RACE
18-24         AMERICAN INDIAN/ALASKAN NATIVE          4493          3604
              ASIAN / PACIFIC ISLANDER               60876         50405
              BLACK                                 286520        211409
              BLACK HISPANIC                         45699         33278
              OTHER                                      6             4
              UNKNOWN                                30310         21868
              WHITE                                 147236        119359
              WHITE HISPANIC                        214173        161756
25-44         AMERICAN INDIAN/ALASKAN NATIVE         17392         14140
              ASIAN / PACIFIC ISLANDER              232894        195673
              BLACK                                 872576        666512
              BLACK HISPANIC                        128086         96480
              OTHER                                      8             5
              UNKNOWN                               109314         81648
              WHITE                                 615784        511096
              WHITE HISPANIC                        624706        488505
45-64         AMERICAN INDIAN/ALASKAN NATIVE          9564          7707
              ASIAN / PACIFIC ISLANDER              123289        103710
              BLACK                                 467113        359981
              BLACK HISPANIC                         57206         42888
              OTHER                                      9             7
              UNKNOWN                                57888         43378
              WHITE                                 382526        314526
              WHITE HISPANIC                        260929        205519
65+           AMERICAN INDIAN/ALASKAN NATIVE          1179           949
              ASIAN / PACIFIC ISLANDER               18597         15661
              BLACK                                  80445         62528
              BLACK HISPANIC                          8540          6488
              UNKNOWN                                10963          8389
              WHITE                                 118847         99031
              WHITE HISPANIC                         42620         33437
<18           AMERICAN INDIAN/ALASKAN NATIVE          1509          1149
              ASIAN / PACIFIC ISLANDER               19083         15118
              BLACK                                 144504        102284
              BLACK HISPANIC                         25948         18014
              OTHER                                      8             6
              UNKNOWN                                14524          9191
              WHITE                                  39341         30138
              WHITE HISPANIC                        108761         78049

                                              CMPLNT_TO_TM  ADDR_PCT_CD  \
VIC_AGE_GROUP VIC_RACE
18-24         AMERICAN INDIAN/ALASKAN NATIVE          3608         4493
              ASIAN / PACIFIC ISLANDER               50450        60864
              BLACK                                 211667       286235
              BLACK HISPANIC                         33313        45659
              OTHER                                      4            6
              UNKNOWN                                21891        30308
              WHITE                                 119455       147213
              WHITE HISPANIC                        161904       214066
25-44         AMERICAN INDIAN/ALASKAN NATIVE         14154        17392
              ASIAN / PACIFIC ISLANDER              195826       232859
              BLACK                                 667146       872072
              BLACK HISPANIC                         96578       128025
              OTHER                                      5            8
              UNKNOWN                                81733       109308
              WHITE                                 511490       615705
              WHITE HISPANIC                        488924       624507
45-64         AMERICAN INDIAN/ALASKAN NATIVE          7715         9564
              ASIAN / PACIFIC ISLANDER              103771       123270
              BLACK                                 360326       466972
              BLACK HISPANIC                         42929        57189
              OTHER                                      7            9
              UNKNOWN                                43429        57888
              WHITE                                 314781       382442
              WHITE HISPANIC                        205680       260868
65+           AMERICAN INDIAN/ALASKAN NATIVE           950         1179
              ASIAN / PACIFIC ISLANDER               15670        18593
              BLACK                                  62576        80416
              BLACK HISPANIC                          6490         8539
              UNKNOWN                                 8394        10963
              WHITE                                  99117       118826
              WHITE HISPANIC                         33470        42609
<18           AMERICAN INDIAN/ALASKAN NATIVE          1152         1509
              ASIAN / PACIFIC ISLANDER               15137        19081
              BLACK                                 102379       144419
              BLACK HISPANIC                         18024        25941
              OTHER                                      6            8
              UNKNOWN                                 9201        14523
              WHITE                                  30167        39336
              WHITE HISPANIC                         78114       108730

                                              RPT_DT   KY_CD  OFNS_DESC  \
VIC_AGE_GROUP VIC_RACE
18-24         AMERICAN INDIAN/ALASKAN NATIVE    4493    4493       4491
              ASIAN / PACIFIC ISLANDER         60876   60876      60800
              BLACK                           286520  286520     286144
              BLACK HISPANIC                   45699   45699      45637
              OTHER                                6       6          6
              UNKNOWN                          30310   30310      30277
              WHITE                           147236  147236     146946
              WHITE HISPANIC                  214173  214173     213802
25-44         AMERICAN INDIAN/ALASKAN NATIVE   17393   17393      17380
              ASIAN / PACIFIC ISLANDER        232896  232896     232692
              BLACK                           872584  872584     871566
              BLACK HISPANIC                  128087  128087     127937
              OTHER                                8       8          7
              UNKNOWN                         109316  109316     109206
              WHITE                           615793  615793     615021
              WHITE HISPANIC                  624712  624712     623813
45-64         AMERICAN INDIAN/ALASKAN NATIVE    9564    9564       9561
              ASIAN / PACIFIC ISLANDER        123289  123289     123210
              BLACK                           467118  467118     466721
              BLACK HISPANIC                   57207   57207      57173
              OTHER                                9       9          9
              UNKNOWN                          57889   57889      57850
              WHITE                           382527  382527     382246
              WHITE HISPANIC                  260930  260930     260671
65+           AMERICAN INDIAN/ALASKAN NATIVE    1179    1179       1179
              ASIAN / PACIFIC ISLANDER         18597   18597      18587
              BLACK                            80445   80445      80396
              BLACK HISPANIC                    8541    8541       8537
              UNKNOWN                          10963   10963      10959
              WHITE                           118848  118848     118788
              WHITE HISPANIC                   42620   42620      42579
<18           AMERICAN INDIAN/ALASKAN NATIVE    1509    1509       1507
              ASIAN / PACIFIC ISLANDER         19083   19083      19022
              BLACK                           144504  144504     144193
              BLACK HISPANIC                   25948   25948      25914
              OTHER                                8       8          8
              UNKNOWN                          14524   14524      14495
              WHITE                            39341   39341      39165
              WHITE HISPANIC                  108761  108761     108488

                                               PD_CD  ...  X_COORD_CD  \
VIC_AGE_GROUP VIC_RACE                                ...
18-24         AMERICAN INDIAN/ALASKAN NATIVE    4493  ...        4481
              ASIAN / PACIFIC ISLANDER         60844  ...       60789
              BLACK                           285465  ...      285776
              BLACK HISPANIC                   45562  ...       45585
              OTHER                                6  ...           6
              UNKNOWN                          30306  ...       30235
              WHITE                           147192  ...      146859
              WHITE HISPANIC                  213866  ...      213690
25-44         AMERICAN INDIAN/ALASKAN NATIVE   17391  ...       17351
              ASIAN / PACIFIC ISLANDER        232806  ...      232451
              BLACK                           870661  ...      870454
              BLACK HISPANIC                  127864  ...      127874
              OTHER                                8  ...           8
              UNKNOWN                         109307  ...      109016
              WHITE                           615620  ...      614200
              WHITE HISPANIC                  624135  ...      623323
45-64         AMERICAN INDIAN/ALASKAN NATIVE    9564  ...        9550
              ASIAN / PACIFIC ISLANDER        123221  ...      123058
              BLACK                           466606  ...      466160
              BLACK HISPANIC                   57138  ...       57098
              OTHER                                9  ...           9
              UNKNOWN                          57884  ...       57746
              WHITE                           382351  ...      381547
              WHITE HISPANIC                  260723  ...      260474
65+           AMERICAN INDIAN/ALASKAN NATIVE    1179  ...        1178
              ASIAN / PACIFIC ISLANDER         18569  ...       18579
              BLACK                            80330  ...       80304
              BLACK HISPANIC                    8539  ...        8532
              UNKNOWN                          10957  ...       10946
              WHITE                           118774  ...      118581
              WHITE HISPANIC                   42563  ...       42559
<18           AMERICAN INDIAN/ALASKAN NATIVE    1509  ...        1503
              ASIAN / PACIFIC ISLANDER         19070  ...       19052
              BLACK                           144203  ...      144087
              BLACK HISPANIC                   25914  ...       25892
              OTHER                                8  ...           7
              UNKNOWN                          14522  ...       14496
              WHITE                            39324  ...       39225
              WHITE HISPANIC                  108675  ...      108531

                                              Y_COORD_CD  SUSP_AGE_GROUP  \
VIC_AGE_GROUP VIC_RACE
18-24         AMERICAN INDIAN/ALASKAN NATIVE        4481            1847
              ASIAN / PACIFIC ISLANDER             60789           25173
              BLACK                               285776          137364
              BLACK HISPANIC                       45585           22278
              OTHER                                    6               1
              UNKNOWN                              30235           11822
              WHITE                               146859           47488
              WHITE HISPANIC                      213690          100000
25-44         AMERICAN INDIAN/ALASKAN NATIVE       17351            6610
              ASIAN / PACIFIC ISLANDER            232451           90528
              BLACK                               870454          418576
              BLACK HISPANIC                      127874           62332
              OTHER                                    8               0
              UNKNOWN                             109016           39803
              WHITE                               614200          204523
              WHITE HISPANIC                      623323          290903
45-64         AMERICAN INDIAN/ALASKAN NATIVE        9550            3423
              ASIAN / PACIFIC ISLANDER            123058           47309
              BLACK                               466160          198723
              BLACK HISPANIC                       57098           24968
              OTHER                                    9               1
              UNKNOWN                              57746           19193
              WHITE                               381547          123791
              WHITE HISPANIC                      260474          110711
65+           AMERICAN INDIAN/ALASKAN NATIVE        1178             438
              ASIAN / PACIFIC ISLANDER             18579            7743
              BLACK                                80304           31607
              BLACK HISPANIC                        8532            3768
              UNKNOWN                              10946            3406
              WHITE                               118581           35528
              WHITE HISPANIC                       42559           17687
<18           AMERICAN INDIAN/ALASKAN NATIVE        1503             542
              ASIAN / PACIFIC ISLANDER             19052            7893
              BLACK                               144087           57369
              BLACK HISPANIC                       25892           11052
              OTHER                                    7               2
              UNKNOWN                              14496            5103
              WHITE                                39225           14461
              WHITE HISPANIC                      108531           44390

                                              SUSP_RACE  SUSP_SEX  Latitude  \
VIC_AGE_GROUP VIC_RACE
18-24         AMERICAN INDIAN/ALASKAN NATIVE       3002      2923      4481
              ASIAN / PACIFIC ISLANDER            38910     37846     60789
              BLACK                              207476    202139    285776
              BLACK HISPANIC                      32991     32250     45585
              OTHER                                   3         2         6
              UNKNOWN                             19885     19151     30235
              WHITE                               85208     81132    146859
              WHITE HISPANIC                     150810    146955    213690
25-44         AMERICAN INDIAN/ALASKAN NATIVE      10611     10202     17351
              ASIAN / PACIFIC ISLANDER           136285    132196    232451
              BLACK                              590309    575229    870454
              BLACK HISPANIC                      87099     85042    127874
              OTHER                                   3         3         8
              UNKNOWN                             63832     61334    109016
              WHITE                              332958    317287    614200
              WHITE HISPANIC                     412283    401847    623323
45-64         AMERICAN INDIAN/ALASKAN NATIVE       5824      5558      9550
              ASIAN / PACIFIC ISLANDER            70735     68793    123058
              BLACK                              297880    289317    466160
              BLACK HISPANIC                      36823     35895     57098
              OTHER                                   4         3         9
              UNKNOWN                             31915     30574     57746
              WHITE                              202981    193494    381547
              WHITE HISPANIC                     164021    159490    260474
65+           AMERICAN INDIAN/ALASKAN NATIVE        648       631      1178
              ASIAN / PACIFIC ISLANDER            10843     10641     18579
              BLACK                               47679     46053     80304
              BLACK HISPANIC                       5469      5332      8532
              UNKNOWN                              5494      5276     10946
              WHITE                               58156     55417    118581
              WHITE HISPANIC                      26497     25674     42559
<18           AMERICAN INDIAN/ALASKAN NATIVE       1109      1068      1503